.page-nav-menu-ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.menu-dropdown-li {
  float:left;
}

.menu-dropdown-li a, .dropdown-dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown-dropbtn {
  border-bottom: 5px solid black;
}

.menu-dropdown-li a:hover, .menu-dropdown-li:hover .dropdown-dropbtn {
  background-color: red;
}

.menu-dropdown-li {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  /* float:left; */
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.menu-dropdown-li:hover .dropdown-content {
  display:block;
}
